*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

canvas{
  border: solid black 1px;
  margin: auto;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
}
